.contact .contact-container {
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    height: 70vh;
    margin: 0 auto;
}
.contact .contact-container .box:nth-child(odd){
    background: linear-gradient(to right, rgba(0,0,0,.5), rgba(0,0,0,.5)),
        url('../../assets/hero.jpg') center/cover no-repeat;
    color: var(--mainWhite);
}
.contact-container .box:nth-child(odd) .center{
    place-items: center;
    margin: 12.5vh auto;
    line-height: 3;
}
.contact-container .box:nth-child(odd) .center h1{
    text-transform: capitalize;
    letter-spacing: .15rem;
    word-spacing: .2rem;
}
.contact-container .box:nth-child(odd) .center > div{
    margin: auto;
    width: 20%;
    height: .25rem;
    background: var(--darkGrey);
}

@media (max-width: 767px) {
    .contact .contact-container {
        grid-template-columns: 1fr;
    }
    .contact-container .box:nth-child(odd){
        display: none;
    }
}